* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #33ff33;
    font-family: 'VT323', monospace;
}
h1 {
    text-align: center;
    margin: 15px;
    font-size: 2.3rem;
}
#main {
    display: flex;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 50px;
}

#canvas {
    margin: auto;
    display: grid;
    height:600px;
    width: 600px;
}

.cell {
    border: 1px solid #33ff33;
}

#clear {
    font-size: 1.3rem;
    padding: 1.5rem;

}